<h1>Orders</h1>
<div class="my_order">
    <%if user_signed_in?%>
        <% @my_order.each do |order|%>
        <%= image_tag order.product.picture, class:'rounded float-left', width: 550 if order.product.picture.attached? %>
        <p><%= order.product.name %></p>
        <%= link_to 'Show', product_path(order.product.id) %>|
        <%= link_to 'Back', :back %>
        <%end%>
   <%end%>
</div>