
<div class="container-fluid podcast-full">
  <div class="hero-text">
  <div class="white-box">
    <h1>The Platform Podcast</h1>
    </div>
  </div>
</div>

<div class="ContentContainer">
              <div class="Content">
                <div class="social-media">
                  <a href="https://www.youtube.com/channel/UCbFYtgsDIjjD0r107ltBONw/featured">
                        <%= image_tag "iconfinder_youtube-2048-black_167615.png", alt: "youtube icon" %>
                <a href="https://www.instagram.com/theplatformpodcasts">
                <%= image_tag "iconfinder_instagram-2048-black_167679.png", alt: "instagram icon" %>
                <a href="https://open.spotify.com/show/2zT34RoD3KGf9t5CQfkHnY?si=VgtrlAQhRzyvpTdsu9lRxQ">
                        <%= image_tag "iconfinder_spotify-2048-black_167669.png", alt: "spotify icon" %>
              </div>
            </div>
          </div>

<iframe src="https://open.spotify.com/embed-podcast/show/2zT34RoD3KGf9t5CQfkHnY" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>