<div class="container-fluid full">
  <div class="hero-text">
  <div class="white-box">
    <h1>The Strong Marketplace</h1>
    </div>
    <div class="white-button">
    <button>
      <%= link_to 'Get Stronger Together', products_path, class:"btn btn-light" %>
    </button>
    </div>
  </div>
</div>