// cover image
.about-full {
  min-height: 100vh;
  background-image: url(image_path('collage.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}

// text over image
.hero-text {
  text-align: center;
  position: sticky;
  justify-content: center;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  color:#0e0d11;
  font-size: 35px;
//   font-family: 'Julius Sans One', sans-serif;
}

.white-box {
  background-color: white;
  opacity: 80%;
}

.white-button {
  backgound-color: white;
  opacity: 70%;
}