/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* // Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

.full {
    min-height: 120vh;
    background-image: url(image_path('bench_girl.jpg'));
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

.hero-text {
  text-align: center;
  position: sticky;
  justify-content: center;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  color:#0e0d11;
  font-size: 35px;
//   font-family: 'Julius Sans One', sans-serif;
}

.white-box {
  background-color: white;
  opacity: 70%;
}

.white-button {
  backgound-color: white;
  opacity: 70%;
}

.box{
  display:flex;
  flex:wrap;
  justify-content:space-evenly;
}
.card{
  min-width:250px;
}